<!doctype html>
<html>
<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

<script type="text/javascript" src="registration.bundle.js"></script>


</head>

<body>


  <nav class="navbar navbar-light bg-faded">
    <span class="navbar-text">
    Web Chat Registration Page
    </span>
  </nav>

  <div class="container">
  <form>
    <div class="form-group row">
      <label for="FirstnameInput" class="col-sm-2 col-form-label ">Firstname</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="FirstnameInput" placeholder="">
      </div>
    </div>
    <div class="form-group row">
      <label for="LastnameInput" class="col-sm-2 col-form-label ">Lastname</label>
      <div class="col-sm-10">
        <input type="text" class="form-control " id="LastnameInput" placeholder="">
      </div>
    </div>

    <div class="form-group row">
      <label for="EmailInput" class="col-sm-2 col-form-label ">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control " id="EmailInput" placeholder="">
      </div>
    </div>
    
    <div class="form-group row">
      <label for="PhoneInput" class="col-sm-2 col-form-label ">Phone </label>
      <div class="col-sm-10">
        <input type="number" class="form-control " id="PhoneInput" placeholder="">
      </div>
    </div>

    <div class="form-group row">
      <label for="PasswordInput" class="col-sm-2 col-form-label ">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control " id="PasswordInput" placeholder="">
      </div>
    </div>

    <div class="form-group row">
      <label for="ReenterPasswordInput" class="col-sm-2 col-form-label ">Re-Enter Passsword</label>
      <div class="col-sm-10">
        <input type="password" class="form-control " id="ReenterPasswordInput" placeholder="">
      </div>
    </div>

    <div class="form-group row">
      <label for="" class="col-sm-2 col-form-label "></label>
      <div class="col-sm-10">
        <input type="submit" class="form-control form-control-lg btn btn-primary" id="submit" placeholder="">
      </div>
    </div>




  </form>
</div>
<script type="text/javascript src="registration.bundle.js"></script>
</body>
</html>