
.friends_main{
  background-color: #cfecf9;
}

.friends_header{
  background-color:#ede7e3;
}

.friends_headerrow
{
margin: auto;
display: flex;
justify-content: center;
align-items: center; 
}

input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}

#friends_newFriendSuggestion-box{
  list-style: none;
}

#friends_friendRequestsSentBox{
  list-style: none;
}

.friends_friendli,#friends_newFriendSuggestion-box li,#friends_friendRequestsSentBox li {
  padding: 10px;
  overflow: auto;
}
 
.friends_allFriendsBox
{
  border-style: groove;
  
}
.friends_allFriends{
  max-height: 300px;	
  background: #ffffff;
  margin-top: 20px;
  overflow-y:auto;
  
}
.friends_newFriendSuggestion-box,.friends_friendRequestsSentBox
{
  max-height: 200px;	
  overflow-y:auto;
  
}

#friends_friends { 
list-style-type: none; margin: 0; padding: 0;
 }
 
#friends_friends li {
	padding: 10px 10px;
	word-wrap: break-word;
	}
	
#friends_friends li:nth-child(odd) { 
background: #d4d8d4;
 }
 
#friends_friends li:hover {
  background: #a0e8a0;
  cursor: pointer;
}