
.friends_main{
  background-color: #cfecf9;
}

.friends_header{
  float:left;
  background-color: #f4c842;
  border-bottom: 20px;
}

input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}

.friends_searchModel #friends_searchnewfriends
{
 width: 290px; 
 height: 30px;
 box-sizing: content-box;
}

#friends_newFriendSuggestion-box{
  list-style: none;
}

.friends_friendli,#friends_newFriendSuggestion-box li {
  padding: 10px;
  overflow: auto;
}
 
 
.friends_allFriends{
  width:500px;
  background-color: yellow;
  box-sizing: content-box;
  margin-top: 50px;
}

.friends_friendli li:hover {
  background: #eee;
  cursor: pointer;
}