body
{
    font-size: 16px;
    font-family: "Times New Roman", Times, serif;
	line-height: normal;
}

p
{
	margin-bottom: 0cm;
}



div.header_header
{
 //width: 1310px;
 height: 60px;
 background-color: #e8b445;
 margin-left:10px;
 margin-right:10px;
 padding-top: 0px;
 margin-top:0px;
 padding-bottom: 20px;
 text-align: center;
 border: 3px solid green;
}


div.header_headerText
{
 //width: 500px;
 height: 40px;
 //background-color: green;
 //margin-left:390px;
 padding-top: 15px;
 float : left;
 text-align: center;
}

div.header_list ul {
    background-color:#e0dcc7;
}

li .navLink 
{
    display: block;
    //padding-left: 100px;
	//padding-right:100px;
	padding-bottom:10px;
	padding-top:15px;
	display: block;
    color: black;
    text-align: center;
    text-decoration: none;

}

.navLink:hover {
    background-color: #a1db92;
}